@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: var(--content-bg-color);
  overflow-x: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

:root {
  --content-bg-color: #a4c6d6;
  --navbar-height: 59px;
}
