<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  (clickOutside)="isCollapsed = true">
  <div class="container-fluid d-flex flex-row text-center">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="assets/lemon.png"
        alt="Citrus Book Club Lemon Icon"
        height="30" />
      Citrus Book Club</a
    >
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-fill w-100"
      id="navbarSupportedContent"
      [ngbCollapse]="isCollapsed">
      <ul ngbNav class="navbar-nav">
        <li [ngbNavItem]="''">
          <a
            ngbNavLink
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            (click)="isCollapsed = true"
            >Home</a
          >
        </li>
        @for (link of verifiedLinks; track link) {
          <li [ngbNavItem]="link.route" [disabled]="!verified">
            <a
              ngbNavLink
              [routerLink]="link.route"
              [routerLinkActive]="['active']"
              (click)="isCollapsed = true"
              >{{ link.title }}</a
            >
          </li>
        }
        @if (admin) {
          @for (link of adminLinks; track link) {
            <li [ngbNavItem]="link.route" [disabled]="!admin">
              <a
                ngbNavLink
                [routerLink]="link.route"
                [routerLinkActive]="['active']"
                (click)="isCollapsed = true"
                >{{ link.title }}</a
              >
            </li>
          }
        }
      </ul>
      <div *ngIf="verified" class="ms-auto me-auto">
        <app-meeting-countdown></app-meeting-countdown>
      </div>
      <div class="ms-auto mb-2 mb-lg-0">
        <app-login></app-login>
      </div>
    </div>
  </div>
</nav>
