<div class="d-flex flex-column gap-3">
  <ul
    class="list-group"
    dndEffectAllowed="move"
    (dndDrop)="onDrop($event, rankedRecommendations)"
    [dndDisableIf]="votesConfirmed"
    dndDropzone>
    <li
      class="list-group-item list-group-item-info dndPlaceholder"
      dndPlaceholderRef></li>
    <li
      *ngFor="let rec of rankedRecommendations"
      class="list-group-item"
      [ngClass]="{
        'list-group-item-success': rec.isMine,
        'list-group-item-dark': votesConfirmed
      }"
      [dndDraggable]="rec"
      [dndDisableDragIf]="votesConfirmed"
      (dndMoved)="onDragged(rec, rankedRecommendations)"
      dndEffectAllowed="move">
      {{ rec.rank }}: {{ rec.book.title }} - {{ rec.recommendedBy.firstName }}
    </li>
  </ul>
  <button
    class="btn"
    (click)="toggleVotesConfirmed()"
    [ngClass]="votesConfirmed ? 'btn-warning' : 'btn-success'">
    {{
      votesConfirmed ? 'Wait, I need to change something' : 'Confirm My Votes'
    }}
  </button>
</div>
