footer {
  position: relative;
  background-color: #89aed1;
  width: 100%;
  z-index: 1000;
}

footer a {
  color: yellow;
}

.content {
  position: relative;
  top: var(--navbar-height);
  margin-bottom: var(--navbar-height);
}
