<div class="d-flex flex-column align-items-center">
  <div class="w-100" style="max-width: 30rem">
    <button
      class="btn btn-primary btn-block w-100"
      (click)="this.formCollapsed = !this.formCollapsed">
      {{ this.formCollapsed ? 'Add A Book!' : 'Close Form' }}
    </button>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="formCollapsed">
      <app-book-creator></app-book-creator>
    </div>
  </div>
</div>
<h3 class="display-3 my-4 text-lg-start text-center">My Bookshelf</h3>
<div
  *ngIf="myBooks$ | async"
  class="d-flex flex-wrap align-items-stretch gap-2 justify-content-lg-start justify-content-center">
  <div *ngFor="let book of myBooks$ | async" style="max-width: 22rem">
    <app-book-card [book]="book" [mine]="true"></app-book-card>
  </div>
  <div *ngIf="!(myBooks$ | async)?.length" class="text-center">
    <h6 class="display-6">You haven't added any books yet!</h6>
    <h6 class="display-6">Add one using the button above!</h6>
  </div>
</div>
<hr />
<h3 class="display-3 my-4 text-lg-start text-center">Books Added By Others</h3>
<div
  *ngIf="othersBooks$ | async"
  class="d-flex flex-wrap align-items-stretch gap-2 justify-content-lg-start justify-content-center">
  <app-book-card
    *ngFor="let book of othersBooks$ | async"
    [book]="book"
    [mine]="false"></app-book-card>
  <div *ngIf="!(othersBooks$ | async)!.length" class="text-center">
    <h6 class="display-6">No one else has added any books yet!</h6>
  </div>
</div>
