<div
  *ngIf="user$ | async; else notLoggedIn"
  ngbDropdown
  class="d-inline-block"
  display="dynamic"
  placement="bottom-end">
  <button
    type="button"
    class="btn btn-outline-primary"
    id="dropdownBasic1"
    ngbDropdownToggle>
    Hi, {{ (user$ | async)!.firstName }}!
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="min-width: 6rem">
    <button ngbDropdownItem (click)="signOut()">Signout</button>
  </div>
</div>
<ng-template #notLoggedIn>
  <asl-google-signin-button
    type="standard"
    size="medium"
    theme="filled_blue"
    logo_alignment="center">
  </asl-google-signin-button>
</ng-template>
