<div class="card meeting-card">
  <div class="card-body">
    <h5 class="card-title">
      {{ meeting.dateTime | date: 'EEE, MMMM d, y, h:mm a' }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <app-meeting-countdown></app-meeting-countdown>
    </h6>
    <p class="card-text" *ngIf="meeting.previousMeeting?.winningBook">
      We'll discuss
      <i>{{ meeting.previousMeeting?.winningBook?.title }}</i>
    </p>
    <div
      class="card-text"
      *ngIf="myRecommendation$ | async; else noRecommendation">
      You recommended <i>{{ (myRecommendation$ | async)!.book.title }}</i>
      <p class="my-0">
        <a
          [routerLink]="['/books']"
          routerLinkActive="router-link-active"
          class="link-info"
          >Want to recommend something else?</a
        >
      </p>
    </div>
    <ng-template #noRecommendation>
      <p class="card-text my-0">
        You haven't recommended a book yet.
        <a
          [routerLink]="['/books']"
          routerLinkActive="router-link-active"
          class="link-primary"
          >Recommend one now!</a
        >
      </p>
    </ng-template>
    <div
      class="d-flex flex-column align-items-center my-2"
      *ngIf="(liveMeeting$ | async)?.state !== null; else notStarted">
      <span>The meeting is live!</span>
      <button
        class="btn btn-success my-2"
        [routerLink]="['/meetings', meeting.id]">
        Join Meeting!
      </button>
    </div>
    <ng-template #notStarted>
      <div class="text-center" *ngIf="admin$ | async; else notAdmin">
        <button class="btn btn-success my-2" (click)="startMeeting()">
          Start Meeting
        </button>
      </div>
      <ng-template #notAdmin>
        <span>The meeting hasn't started yet.</span>
      </ng-template>
    </ng-template>
  </div>
</div>
