<div class="card w-100" style="max-width: 30rem">
  <div class="ripple" *ngIf="ripple"></div>
  <div class="card-body text-start">
    <div class="d-flex flex-row gap-2 align-items-center">
      <div>
        <h5 class="card-title">{{ book.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{ book.author }}
        </h6>
        <div>{{ book.pageCount }} pages</div>
      </div>
      <div class="ms-auto" *ngIf="book.thumbnailLink">
        <img
          src="{{ book.thumbnailLink }}"
          width="40px"
          alt="Thumbnail image of the book: {{ book.title }}" />
      </div>
    </div>
    <div class="text-center" *ngIf="mine">
      @if (recommendedForNext) {
        <h6 class="text-success my-2">Recommended for next meeting!</h6>
      } @else {
        <div
          [ngbTooltip]="
            !nextMeetingId ? 'Next meeting hasn\'t been scheduled yet!' : null
          "
          placement="bottom">
          <button
            type="button"
            class="btn btn-outline-secondary my-2"
            [disabled]="!nextMeetingId"
            (click)="recommendForNext()">
            Recommend for next meeting!
          </button>
        </div>
      }
    </div>
    <div class="d-flex flex-row gap-2 align-items-center">
      <hr class="flex-grow-1" />
      <button
        type="button"
        class="btn"
        (click)="expanded = !expanded; $event.stopPropagation()">
        <i
          class="bi bi-chevron-double-down chevron-down"
          [ngClass]="expanded ? 'expanded' : null"></i>
      </button>
      <hr class="flex-grow-1" />
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="!expanded">
      <div class="my-2 text-center" *ngIf="mine">
        <button
          type="button"
          class="btn btn-outline-info"
          [disabled]="true"
          (click)="showEditor(editModal)">
          <i class="bi bi-pencil"></i>
          Edit (Coming soon!)
        </button>
      </div>
      <div>
        {{ book.description }}
      </div>
      <div class="my-2 text-center" *ngIf="mine">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="deleteBook()">
          <i class="bi bi-trash"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #editModal let-c="close" let-d="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      Edit <em>{{ book.title }}</em>
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-book-creator [editingBook]="book"></app-book-creator>
  </div>
</ng-template>
