.chevron-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.chevron-down.expanded {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.ripple {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: ripple 2s linear infinite;
  z-index: -1;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(0, 141, 42, 0.397);
  }
  100% {
    box-shadow: 0 0 0 2rem rgba(0, 141, 42, 0);
  }
}

.card-body {
  z-index: 1;
}
